    @font-face {
        font-family: "Bahij TheSansArabic Plain";
        src: url("../fonts/Bahij_TheSansArabic-Plain.ttf");
        font-style: normal;
        font-weight: 100;
    }
    
    @font-face {
        font-family: "Bahij TheSansArabic Plain";
        src: url("../fonts/Bahij_TheSansArabic-SemiBold.ttf");
        font-style: normal;
        font-weight: 400;
    }
    
    @font-face {
        font-family: "Bahij TheSansArabic Plain";
        src: url("../fonts/Bahij_TheSansArabic-Bold.ttf");
        font-style: normal;
        font-weight: 600;
    }
    
    @font-face {
        font-family: "material";
        src: url("../fonts/material.ttf");
        font-style: normal;
        font-weight: 400;
    }
    /* fallback */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box !important;
    }
    
    @-moz-document url-prefix() {}
    
    body,
    html {
        font-family: "Bahij TheSansArabic Plain";
        font-weight: 100;
        position: relative;
        /* padding-bottom: 30px; */
    }
    
    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .modal {
        bottom: auto;
        background: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .padding_section {
        padding: 30px 0;
    }
    
    .btn:focus {
        background: none !important;
    }
    
    .bg-blue {
        background-color: rgba(1, 84, 149, 1);
    }
    
    .bg-orange {
        background-color: rgba(250, 100, 0, 1);
    }
    
    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    
    .btn-dropdown {
        font-size: 12px;
        color: rgba(198, 198, 198, 1);
        line-height: 20px;
        margin-bottom: 0;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .btn-dropdown:focus {
        background: none !important;
    }
    
    .btn-dropdown:hover {
        color: rgba(198, 198, 198, 1);
    }
    
    .btn:focus,
    button:focus {
        outline: none;
        box-shadow: none;
    }
    
    .btn_back_top {
        position: relative;
        top: -29px;
    }
    
    .wrapper {
        position: relative;
        /* height: 100vh; */
        /* padding-bottom: 35px; */
    }
    
    .header {
        background: rgba(56, 56, 56, 1);
        padding: 20px;
    }
    
    .header .media {
        position: relative;
    }
    
    .media.text-right.border-left {
        margin-left: 30px;
    }
    
    .header .media .media-body h5 {
        font-size: 12px;
        color: #fff;
        line-height: 18px;
    }
    
    .header .media .media-body h3 {
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
    }
    
    .header .media .media-body p {
        font-size: 12px;
        color: rgba(198, 198, 198, 1);
        line-height: 20px;
        margin-bottom: 0
    }
    
    .flag_logo {
        width: 50px;
        height: 50px;
    }
    
    .notAuth {
        width: 100%;
        height: 100vh;
        background-image: -webkit-radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        background-image: -moz-radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        background-image: -o-radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        background-image: radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        position: relative;
    }
    
    .watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        height: 600px;
        width: 435px;
        background: url(../img/logo-gov-eagle.png) no-repeat center / cover;
    }
    
    .digitalmark {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: url(../img/digital-bg.png) no-repeat center / cover;
        width: 100%;
        height: 100%;
    }
    
    .top_header {
        padding: 120px 0
    }
    
    .main-content .media .media-body h5 {
        font-family: "Bahij TheSansArabic Plain";
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 21px;
        font-size: 14px;
    }
    
    .bg-text {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(128, 128, 128, 1);
        border-radius: 4px;
        padding: 20px;
        text-align: center
    }
    
    .bg-text h3 {
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 10px !important;
    }
    
    .bg-text p {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    
    .bg-text a {
        color: rgba(0, 0, 0, 1);
        text-decoration: underline;
    }
    
    .btn_back .back {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(56, 56, 56, 1);
        border-radius: 14px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(56, 56, 56, 1);
        padding: 1px 20px;
    }
    
    .icon-back {
        position: relative;
        left: -20px;
    }
    
    .btn-floating.btn-large {
        width: 50px;
        height: 50px;
        padding: 0;
        background: rgba(56, 56, 56, 1);
    }
    
    .btn-floating.btn-large i {
        line-height: 50px;
    }
    
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        /* height: 100px; */
        clear: both;
        padding: 1rem;
    }
    
    .footer-bg {
        background: rgba(239, 239, 239, 1);
        /* height: 50px; */
        /* line-height: 50px; */
    }
    
    .footer p {
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 18px;
    }
    
    .footer .line {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 1);
        margin-bottom: 1rem;
    }
    
    .footer .footer_logo {
        margin: 0 10px;
    }
    
    .img_404 {
        margin-top: -135px;
    }
    
    .icon {
        position: relative;
    }
    
    .icon:after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        font-family: 'material';
        font-size: 100px;
        color: rgba(250, 100, 0, 1);
        text-align: center;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
    }
    
    .boxs {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
    }
    
    .boxs .boxs-head {
        padding: 12px 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px
    }
    
    .boxs .boxs-head h2 {
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-align: right;
        line-height: 26px;
        letter-spacing: 0.5px;
    }
    
    .boxs .boxs-body {
        padding: 20px;
    }
    
    .boxs .boxs-body p {
        font-size: 14px;
        color: rgba(56, 56, 56, 1);
        text-align: right;
        line-height: 24px;
    }
    
    .boxs .boxs-body .uk-accordion {
        border: 1px solid rgba(239, 239, 239, 1);
    }
    
    .boxs .boxs-body .uk-accordion-title {
        font-size: 14px;
        font-weight: 600;
        color: rgba(56, 56, 56, 1);
        text-align: right;
        line-height: 24px;
        background-color: rgba(250, 250, 250, 1);
        border: 1px solid rgba(239, 239, 239, 1);
        border-radius: 4px 4px 0px 0px;
        padding: 12px 20px;
    }
    
    .boxs .boxs-body .uk-accordion-title::before {
        margin-right: 0;
        float: right;
        margin-left: 10px;
    }
    
    .boxs .boxs-body .uk-accordion-content {
        padding: 10px;
        font-size: 14px;
        color: rgba(56, 56, 56, 1);
        text-align: left;
        line-height: 24px;
        margin: 0
    }
    
    .bg-wrapper {
        height: 100vh;
        background-image: -webkit-radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        background-image: -moz-radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        background-image: -o-radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        background-image: radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        position: relative;
    }
    
    .loges {
        padding: 80px 0;
    }
    
    .loges p {
        font-size: 18px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        text-align: center;
    }
    
    .form {
        max-width: 360px;
        margin: 0 auto;
    }
    
    .form-group {
        position: relative;
    }
    
    .form_transaction .form-group {
        margin-bottom: 0 !important
    }
    
    .inputMaterial {
        font-size: 16px;
        display: block;
        padding: 0 18px 0 0 !important;
        border: 1px solid rgba(25, 25, 25, 0.32) !important;
        border-radius: 4px;
        text-align: right;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        /* max-width: 340px !important; */
        margin-bottom: 0 !important;
        height: 55px !important;
        line-height: 55px;
        border-radius: 5px !important;
    }
    
    .inputMaterial:focus {
        outline: none;
        border: 2px solid rgba(1, 84, 149, 1) !important;
    }
    /* LABEL ======================================= */
    
    .label,
    .select_lable {
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        right: 20px;
        top: 16px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 20px;
        font-weight: 600;
    }
    
    .close_:after,
    .calendar:after,
    .view:after {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.38);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    
    .close_:hover:after,
    .calendar:hover:after,
    .view:hover:after {
        color: #777575;
    }
    
    .close_:after {
        position: absolute;
        content: "";
        left: 20px;
        top: 10px;
        font-family: 'material';
    }
    
    .view:after {
        position: absolute;
        content: "";
        left: 20px;
        top: 10px;
        font-family: 'material';
    }
    
    .calendar:after {
        position: absolute;
        content: "\f272";
        left: 20px;
        top: 19px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-weight: bold;
    }
    
    .footer-dark .line {
        background: hsla(0, 0%, 0%, 0.28);
        max-width: 450px;
        margin: 18px auto;
    }
    
    .footer-dark p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.83);
        text-align: center;
        line-height: 18px;
        font-weight: 400;
    }
    /* active state */
    
    .select_lable {
        display: inline-block;
    }
    
    .inputMaterial:focus~label,
    .inputMaterial:valid~label,
    .select_lable {
        top: -8px;
        color: rgba(1, 84, 149, 1);
        background: #fff;
        padding: 0px 10px;
    }
    
    .select-wrapper+label {
        position: absolute;
        top: -23px;
        font-size: .8rem;
        left: auto;
        color: #015495;
    }
    
    .waves-blue {
        background-color: rgba(1, 84, 149, 1);
    }
    
    .waves-blue:hover {
        background-color: rgba(1, 84, 149, 1);
    }
    
    .form .login {
        font-size: 16px;
    }
    
    .forgetPass {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-align: right;
        line-height: 28px;
        text-decoration: underline;
        font-weight: 600
    }
    
    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 0;
        box-shadow: none;
    }
    
    .small-boxs {
        background-color: rgba(240, 240, 240, 1);
        border: 2px solid rgba(58, 114, 0, 1);
        border-radius: 8px;
        position: relative;
        margin-top: 22px;
        padding-bottom: 23px;
    }
    
    .btn_back_postion {
        position: relative;
        top: -25px;
    }
    
    .btn-light {
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 4px;
        background: #fff;
        box-shadow: none;
    }
    
    .btn-light:hover {
        background: #f0f0f0;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.38);
    }
    
    .box_postion {
        width: 800px;
        position: relative;
        right: -55px;
    }
    
    .form_box {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(1, 84, 149, 1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        position: relative;
        margin-top: 50px;
        /* margin-bottom: 35px; */
    }
    
    .form_box .main_circle {
        transform: rotate(180deg);
        background: #d8d6d6;
    }
    
    .form_box .main_circle:before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        background: #fff;
        width: 120px;
        height: 120px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border: 2px solid #015495;
        border-radius: 50%;
        clip: rect(0px, 122px, 62px, -5px);
    }
    
    .finger {
        position: absolute;
        content: "";
        top: -30px;
        left: 30px;
        background: #fff;
        width: 65px;
        height: 65px;
        border: 2px solid #015495;
        border-radius: 50%;
        line-height: 100px;
        text-align: center;
    }
    
    .finger .material-icons {
        font-size: 48px;
    }
    
    .user_img {
        position: absolute;
        width: 105px;
        height: 105px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border: 2px solid #015495;
        border-radius: 50%;
        padding: 3px;
    }
    
    .user_img img {
        width: 100%;
    }
    
    .profile-pic {
        width: 150px;
        height: 105px;
        display: block;
    }
    
    .file-upload,
    .edit-button {
        display: none;
    }
    
    .edit-button {
        color: #fff;
        font-size: 47px;
        opacity: 0;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
    }
    
    .user_img:hover .edit-button {
        opacity: 1;
    }
    
    .circle {
        border-radius: 50% !important;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        background: #015495;
    }
    
    .circle:after {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }
    
    .user_img:hover .circle:after {
        opacity: 1;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .p-image {
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        display: block;
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 100%;
        line-height: 140px;
        border-radius: 50%;
    }
    
    .p-image:hover {
        color: #fff;
    }
    
    .upload-button {
        font-size: 3.2em;
    }
    
    .upload-button:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #fff;
    }
    
    .form-box-body {
        padding: 20px;
    }
    
    .user_form_box {
        margin-top: 80px;
    }
    
    .select-wrapper input.select-dropdown {
        border-bottom: 0;
    }
    
    .select-wrapper .caret {
        position: absolute;
        left: 15px !important;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 0;
        fill: rgba(0, 0, 0, 0.63);
        right: auto;
    }
    
    .dropdown-content li {
        clear: both;
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        min-height: 50px;
        line-height: 1.5rem;
        width: 100%;
        text-align: right !important;
    }
    
    ul:not(.browser-default) {
        padding: 0 !important;
        list-style-type: none;
    }
    
    .select-wrapper input.select-dropdown:focus {
        border-bottom: 0;
    }
    
    .collapse_transaction {
        margin-top: 50px;
    }
    
    .boxs .boxs-body .uk-accordion {
        border: 1px solid rgba(239, 239, 239, 1);
    }
    
    .collapse_transaction .uk-accordion-title {
        font-size: 14px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-align: right;
        line-height: 24px;
        background-color: rgb(1, 84, 149);
        border: 1px solid rgb(1, 84, 149);
        border-radius: 4px 4px 0px 0px;
        padding: 12px 20px;
        letter-spacing: 0.5px;
    }
    
    .collapse_transaction .uk-accordion-title::before {
        margin-right: 0;
        float: right;
        margin-left: 10px;
    }
    
    .collapse_transaction .uk-accordion-content {
        padding: 10px;
        font-size: 14px;
        color: rgba(56, 56, 56, 1);
        text-align: right;
        line-height: 24px;
        margin: 0;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
        min-height: 272px;
    }
    
    .collapse_transaction .uk-open>.uk-accordion-title::before {
        background-image: url(../img/miin.png);
    }
    
    .collapse_transaction .uk-accordion-title::before {
        content: "";
        width: 1em;
        height: 1em;
        margin-right: 10px;
        float: right;
        background-image: url(../img/plus.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-top: 4px;
    }
    
    .numberic {
        height: 50px;
        width: 50px;
        background-color: rgba(56, 56, 56, 1);
        text-align: center;
        line-height: 50px;
        color: #fff;
        display: block;
        border-top-left-radius: 5px;
        float: left;
        margin-top: -50px;
    }
    
    .collapse_transaction .table .thead-dark th {
        color: #fff;
        background-color: #383838;
        border-color: #383838;
    }
    
    .collapse_transaction .table thead th {
        vertical-align: middle;
        border-bottom: 2px solid #dee2e6;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
    }
    
    .collapse_transaction .table td,
    .table th {
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        padding: .75rem 5px;
    }
    
    .collapse_transaction .rows {
        position: relative;
        height: 55px;
    }
    
    .collapse_transaction .bg-rows {
        background: #e5e5e5;
    }
    
    .collapse_transaction .rows .actions {
        position: relative;
        top: 0;
        right: -46px;
        background: yellowgreen;
        display: block;
    }
    
    .collapse_transaction .rows:hover .actions {
        display: block
    }
    
    .image_user img {
        width: 40px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 0;
        border: 1px solid #ccc;
    }
    
    .docment_box {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(1, 84, 149, 1);
        border-radius: 8px;
        padding: 45px 20px 30px;
        position: relative;
        margin-top: 70px;
        margin-bottom: 35px;
    }
    
    .docment_box .head-area {
        background: #015495;
        color: white;
        text-align: -webkit-center;
        padding: 15px 0;
        border-radius: 10px;
        position: absolute;
        top: -55px;
        max-width: 204px;
        max-height: 105px;
    }
    
    .docment_box .head-area .nav-item {
        padding: 0 16px;
        border-left: 1px solid #fff;
    }
    
    .docment_box .head-area .nav-item:last-child {
        /* padding-left: 0; */
        border-left: 0
    }
    
    .docment_box .head-area .icons {
        display: block;
        text-align: center;
        font-size: 33px;
        margin-bottom: 10px;
    }
    
    .docment_box .head-area .scan_link {
        background: none;
        border: 0;
        color: white;
        cursor: pointer;
    }
    
    .docment_box .head-area .file-input {
        color: white;
        cursor: pointer;
    }
    
    .image-upload {
        display: none;
    }
    
    .upload_list {
        position: relative;
        z-index: 1;
    }
    
    .preview-pic {
        overflow: hidden;
        width: 204px;
        height: 105px;
        position: absolute;
        top: 0;
        z-index: 0;
        border-radius: 10px;
        border: 2px solid #015495;
    }
    
    .remove_box {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        bottom: -20px;
        display: none;
    }
    
    .add_docment_box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .larger {
        width: 100px !important;
        height: 100px !important;
        line-height: 145px;
    }
    
    .add_docment_box i {
        font-size: 55px;
    }
    
    @media (max-width: 768px) {
        .header .media .media-body h3 {
            font-size: 15px;
            color: rgba(255, 255, 255, 1);
        }
        .border-left {
            border-left: 0px solid #dee2e6!important;
        }
        .icon {
            position: relative;
            margin-bottom: 150px;
        }
        .media.text-right.border-left {
            margin-left: 0px;
        }
    }