    @font-face {
        font-family: "Bahij TheSansArabic Plain";
        src: url("../fonts/BahijTheSansArabicIndic-Plain.ttf");
        font-style: normal;
        font-weight: 100;
    }
    
    @font-face {
        font-family: "Bahij TheSansArabic Plain";
        src: url("../fonts/BahijTheSansArabicIndic-SemiBold.ttf");
        font-style: normal;
        font-weight: 400;
    }
    
    @font-face {
        font-family: "Bahij TheSansArabic Plain";
        src: url("../fonts/BahijTheSansArabicIndic-Bold.ttf");
        font-style: normal;
        font-weight: 600;
    }
    
    @font-face {
        font-family: "material";
        src: url("../fonts/material.ttf");
        font-style: normal;
        font-weight: 400;
    }
    
    html {
        height: 100%;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Bahij TheSansArabic Plain";
        font-weight: 100;
        position: relative;
        margin: 0;
        min-height: 100%;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box !important;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    .datepicker-calendar-container {
        direction: initial;
    }
    
    .datepicker-controls .select-month input {
        width: 90px;
    }
    
    .datepicker-date-display .year-text {
        text-align: right;
    }
    
    .datepicker-date-display .date-text {
        letter-spacing: 1px;
        text-align: right;
        font-size: 18px;
    }
    
    .confirmation-btns {
        display: none;
    }
    
    .row {
        margin-bottom: 0;
    }
    
    .padding-80 {
        padding: 80px 0;
    }
    
    .padding-35 {
        padding: 60px 0;
    }
    
    dl,
    ol,
    ul {
        margin: 0;
    }
    
    .offset-3 {
        margin-right: 25%;
    }
    
    .no_height {
        min-height: auto !important;
    }
    
    .padding-0 {
        padding: 0 !important;
    }
    
    .no-margin {
        margin-right: auto;
        margin-left: auto;
    }
    
    .bg-white {
        background: #fff;
    }
    
    .bg-gray {
        background: rgba(0, 0, 0, 0.04);
    }
    
    .list {
        padding: 20px 10px;
    }
    
    textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.6);
    }
    
    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.6);
    }
    
    textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.6);
    }
    
    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.6);
    }
    
    @-moz-document url-prefix() {
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    
    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .modal {
        bottom: auto;
        background: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .padding_section {
        padding: 30px 0;
    }
    
    .font-small {
        font-size: 13px;
    }
    
    .bg-blue {
        background-color: rgba(1, 84, 149, 1);
    }
    
    .bg-orange {
        background-color: rgba(250, 100, 0, 1);
    }
    
    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    
    .btn-dropdown {
        font-size: 12px;
        color: rgba(198, 198, 198, 1);
        line-height: 20px;
        margin-bottom: 0;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .btn-dropdown:focus {
        background: none !important;
    }
    
    .btn-dropdown:hover {
        color: rgba(198, 198, 198, 1);
    }
    
    .btn:focus,
    button:focus {
        outline: none;
        box-shadow: none;
    }
    
    .btn_back_top {
        position: relative;
        top: -29px;
    }
    
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #fff !important;
    }
    
    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, .04);
    }
    
    @keyframes stretch {
        0% {
            transform: scale(0.5);
            background-color: #B5DDF0;
        }
        50% {
            background-color: #CFE9F6;
        }
        100% {
            transform: scale(1);
            background-color: #FFFFFF;
        }
    }
    
    .btn.btn--loading {
        font-size: 0;
    }
    
    .btn.btn--loading span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: -25px;
    }
    
    .btn.btn--loading span b {
        animation-direction: alternate;
        animation-duration: .5s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: stretch;
        animation-play-state: running;
        animation-timing-function: ease-out;
        border-radius: 100%;
        display: block;
        height: 10px;
        width: 10px;
        animation-delay: .1s;
        margin: 0 5px;
    }
    
    .btn.btn--loading span b:first-child {
        animation-delay: 0s;
        margin: 0;
    }
    
    .btn.btn--loading span b:last-child {
        animation-delay: .2s;
        margin: 0;
    }
    
    .btn b {
        font-weight: normal;
    }
    
    .btn span {
        display: none;
    }
    
    .wrapper {
        position: relative;
        /* height: 100vh; */
        /* padding-bottom: 35px; */
    }
    
    .header {
        background: rgba(56, 56, 56, 1);
        padding: 18px 0;
    }
    
    .header .dropdown-item {
        font-size: 12px;
        text-align: right;
        padding: .2rem 1rem;
        left: 35px !important;
    }
    
    .header .dropdown-menu {
        border-radius: 0.5rem;
        min-width: 8rem;
    }
    
    .header .media {
        position: relative;
    }
    
    .media.text-right.border-left {
        margin-left: 30px;
    }
    
    .header .media .media-body h5 {
        font-size: 12px;
        color: #fff;
        line-height: 18px;
    }
    
    .header .media .media-body h3 {
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
    }
    
    .header .media .media-body p {
        font-size: 12px;
        color: rgba(198, 198, 198, 1);
        line-height: 20px;
        margin-bottom: 0
    }
    
    .flag_logo {
        width: 50px;
        height: 50px;
    }
    
    .notAuth {
        width: 100%;
        height: 100vh;
        background-image: -webkit-radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        background-image: -moz-radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        background-image: -o-radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        background-image: radial-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(102, 102, 102, 1) 100%);
        position: relative;
    }
    
    .watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        height: 600px;
        width: 435px;
        background: url(../img/logo-gov-eagle.png) no-repeat center / cover;
    }
    
    .digitalmark {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: url(../img/digital-bg.png) no-repeat center / cover;
        width: 100%;
        height: 100%;
    }
    
    .top_header {}
    
    .main-content .media .media-body h5 {
        font-family: "Bahij TheSansArabic Plain";
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 21px;
        font-size: 14px;
    }
    
    .bg-text {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(128, 128, 128, 1);
        border-radius: 4px;
        padding: 20px;
        text-align: center
    }
    
    .bg-text h3 {
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 10px !important;
    }
    
    .bg-text p {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    
    .bg-text a {
        color: rgba(0, 0, 0, 1);
        text-decoration: underline;
    }
    
    .btn_back .back {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(56, 56, 56, 1);
        border-radius: 14px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(56, 56, 56, 1);
        padding: 1px 20px;
    }
    
    .icon-back {
        position: relative;
        left: -20px;
    }
    
    .btn-floating.btn-large {
        width: 50px;
        height: 50px;
        padding: 0;
        background: rgba(56, 56, 56, 1);
    }
    
    .btn-floating.btn-large i {
        line-height: 50px;
    }
    
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        clear: both;
        padding: 1rem;
        z-index: 99;
    }
    
    .footer-bg {
        background: rgba(239, 239, 239, 1);
        /* height: 50px; */
        /* line-height: 50px; */
    }
    
    .footer p {
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 18px;
    }
    
    .footer .line {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 1);
        margin-bottom: 1rem;
    }
    
    .footer .footer_logo {
        margin: 0 10px;
    }
    
    .img_404 {
        margin-top: -135px;
    }
    
    .icon {
        position: relative;
    }
    
    .icon:after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        font-family: 'material';
        font-size: 100px;
        color: rgba(250, 100, 0, 1);
        text-align: center;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
    }
    
    .boxs {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
    }
    
    .boxs .boxs-head {
        padding: 12px 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px
    }
    
    .boxs .boxs-head h2 {
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-align: right;
        line-height: 26px;
        letter-spacing: 0.5px;
    }
    
    .boxs .boxs-body {
        padding: 20px;
    }
    
    .boxs .boxs-body p {
        font-size: 14px;
        color: rgba(56, 56, 56, 1);
        text-align: right;
        line-height: 24px;
    }
    
    .boxs .boxs-body .uk-accordion {
        border: 1px solid rgba(239, 239, 239, 1);
    }
    
    .boxs .boxs-body .uk-accordion-title {
        font-size: 14px;
        font-weight: 600;
        color: rgba(56, 56, 56, 1);
        text-align: right;
        line-height: 24px;
        background-color: rgba(250, 250, 250, 1);
        border: 1px solid rgba(239, 239, 239, 1);
        border-radius: 4px 4px 0px 0px;
        padding: 12px 20px;
    }
    
    .boxs .boxs-body .uk-accordion-title::before {
        margin-right: 0;
        float: right;
        margin-left: 10px;
    }
    
    .boxs .boxs-body .uk-accordion-content {
        padding: 10px;
        font-size: 14px;
        color: rgba(56, 56, 56, 1);
        text-align: left;
        line-height: 24px;
        margin: 0
    }
    
    .bg-wrapper {
        height: 100vh;
        background-image: -webkit-radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        background-image: -moz-radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        background-image: -o-radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        background-image: radial-gradient(top, rgba(193, 232, 248, 1) 0%, rgba(50, 197, 255, 1) 100%);
        position: relative;
    }
    
    .loges {
        padding: 60px 0;
    }
    
    .loges p {
        font-size: 18px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        margin-bottom: 0;
    }
    
    .form {
        max-width: 360px;
        margin: 0 auto;
    }
    
    .form-group {
        position: relative;
    }
    
    .inputMaterial {
        font-size: 18px;
        display: block;
        padding: 0 18px 0 0 !important;
        border: 1px solid rgba(25, 25, 25, 0.32) !important;
        text-align: right;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        -ms-border-radius: 4px !important;
        -o-border-radius: 4px !important;
        margin-bottom: 0 !important;
        height: 55px !important;
        line-height: 55px;
    }
    
    .inputMaterial_textarea {
        height: auto !important;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-size: 18px;
        display: block;
        padding: 18px 18px 0 0 !important;
    }
    
    .inputMaterial:focus {
        outline: none;
        border: 2px solid rgba(1, 84, 149, 1) !important;
    }
    /* LABEL ======================================= */
    
    .close_:after,
    .calendar:after,
    .view:after,
    .eye-slash:after {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.38);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    
    .close_:hover:after,
    .calendar:hover:after,
    .view:hover:after,
    .eye-slash:hover:after {
        color: #777575;
    }
    
    .close_:after {
        position: absolute;
        content: "";
        left: 20px;
        top: 10px;
        font-family: 'material';
    }
    
    .view:after {
        position: absolute;
        content: "";
        left: 20px;
        top: 10px;
        font-family: 'material';
    }
    
    .eye-slash:after {
        position: absolute;
        content: "";
        left: 20px;
        top: 10px;
        font-family: 'material';
    }
    
    .calendar:after {
        position: absolute;
        content: "\f272";
        left: 20px;
        top: 19px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-weight: bold;
    }
    
    .footer-dark .line {
        background: hsla(0, 0%, 0%, 0.28);
        max-width: 450px;
        margin: 18px auto;
    }
    
    .footer-dark p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.83);
        text-align: center;
        line-height: 18px;
        font-weight: 400;
    }
    /* active state */
    
    .label,
    .label_gray,
    .select_lable {
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        right: 20px;
        top: 16px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 20px;
        font-weight: 600;
    }
    
    .select_lable {
        display: inline-block;
    }
    
    .select-dropdown {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        /* width: 255px !important; */
    }
    
    .inputMaterial:focus~label,
    .inputMaterial:valid~label,
    .select_lable {
        top: -8px;
        color: rgba(1, 84, 149, 1);
        background: #fff;
        padding: 0px 10px;
    }
    
    .inputMaterial:focus~.label_gray,
    .inputMaterial:valid~.label_gray {
        top: -8px;
        color: rgba(1, 84, 149, 1);
        background: #f5f5f5;
        padding: 0px 10px;
    }
    
    .select-wrapper+label {
        position: absolute;
        top: -23px;
        font-size: .8rem;
        left: auto;
        color: #015495;
    }
    
    .select-wrapper+.label_gray {
        position: absolute;
        top: -23px;
        font-size: .8rem;
        left: auto;
        color: #015495;
    }
    
    .waves-blue {
        background-color: rgba(1, 84, 149, 1);
    }
    
    .waves-blue:hover {
        background-color: rgba(1, 84, 149, 1);
    }
    
    .form .login {
        font-size: 16px;
    }
    
    .forgetPass {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-align: right;
        line-height: 28px;
        text-decoration: underline;
        font-weight: 600
    }
    
    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 0;
        box-shadow: none;
    }
    
    .small-boxs {
        background-color: rgba(240, 240, 240, 1);
        border: 2px solid rgba(58, 114, 0, 1);
        border-radius: 8px;
        position: relative;
        margin-top: 22px;
        padding-bottom: 23px;
    }
    
    .btn_back_postion {
        position: relative;
        top: -25px;
    }
    
    .btn-light {
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 4px;
        background: #fff;
        box-shadow: none;
    }
    
    .btn-light:hover {
        background: #f0f0f0;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.38);
    }
    
    .box_postion {
        width: 800px;
        position: relative;
        right: -55px;
    }
    
    .form_box {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(1, 84, 149, 1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        position: relative;
        margin-top: 50px;
        /* margin-bottom: 35px; */
    }
    
    .form_box .main_circle {
        transform: rotate(180deg);
        background: #d8d6d6;
    }
    
    .form_box .main_circle:before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        background: #fff;
        width: 120px;
        height: 120px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border: 2px solid #015495;
        border-radius: 50%;
        clip: rect(0px, 122px, 62px, -5px);
    }
    
    .finger {
        position: absolute;
        content: "";
        top: -30px;
        left: 30px;
        background: #fff;
        width: 65px;
        height: 65px;
        border: 2px solid #015495;
        border-radius: 50%;
        line-height: 100px;
        text-align: center;
    }
    
    .finger .material-icons {
        font-size: 48px;
    }
    
    .user_img {
        position: absolute;
        width: 105px;
        height: 105px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border: 2px solid #015495;
        border-radius: 50%;
        padding: 3px;
    }
    
    .user_img img {
        width: 100%;
    }
    
    .profile-pic {
        width: 150px;
        height: 105px;
        display: block;
    }
    
    .file-upload,
    .edit-button {
        display: none;
    }
    
    .edit-button {
        color: #fff;
        font-size: 47px;
        opacity: 0;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
    }
    
    .user_img:hover .edit-button {
        opacity: 1;
    }
    
    .circle {
        border-radius: 50% !important;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        background: #015495;
    }
    
    .circle:after {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }
    
    .user_img:hover .circle:after {
        opacity: 1;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .p-image {
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        display: block;
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 100%;
        line-height: 140px;
        border-radius: 50%;
    }
    
    .p-image:hover {
        color: #fff;
    }
    
    .upload-button {
        font-size: 3.2em;
    }
    
    .upload-button:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #fff;
    }
    
    .form-box-body {
        padding: 20px 10px;
    }
    
    .user_form_box {
        margin-top: 80px;
    }
    
    .select-wrapper input.select-dropdown {
        border-bottom: 0;
    }
    
    .select-wrapper .caret {
        position: absolute;
        left: 15px !important;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 0;
        fill: rgba(0, 0, 0, 0.63);
        right: auto;
    }
    
    .dropdown-content li {
        clear: both;
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        min-height: 50px;
        line-height: 1.5rem;
        width: 100%;
        text-align: right !important;
    }
    
    ul:not(.browser-default) {
        padding: 0 !important;
        list-style-type: none;
    }
    
    .select-wrapper input.select-dropdown:focus {
        border-bottom: 0;
    }
    
    .collapse_transaction {
        margin-top: 50px;
    }
    
    .boxs .boxs-body .uk-accordion {
        border: 1px solid rgba(239, 239, 239, 1);
    }
    
    .collapse_transaction .uk-accordion-title {
        font-size: 14px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-align: right;
        line-height: 24px;
        background-color: rgb(1, 84, 149);
        border: 1px solid rgb(1, 84, 149);
        border-radius: 4px 4px 0px 0px;
        padding: 12px 20px;
        letter-spacing: 0.5px;
    }
    
    .collapse_transaction .uk-accordion-title::before {
        margin-right: 0;
        float: right;
        margin-left: 10px;
    }
    
    .collapse_transaction .uk-accordion-content {
        padding: 10px;
        font-size: 14px;
        color: rgba(56, 56, 56, 1);
        text-align: right;
        line-height: 24px;
        margin: 0;
        background-color: rgba(255, 255, 255, 1);
        border-bottom-right-radius: 8px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
        min-height: 272px;
        border-bottom-left-radius: 8px;
    }
    
    .collapse_transaction .uk-open>.uk-accordion-title::before {
        font-family: "material";
        color: #fff;
        font-size: 25px;
        content: "";
    }
    
    .collapse_transaction .uk-accordion-title::before {
        content: "";
        width: 1em;
        height: 1em;
        margin-right: 10px;
        float: right;
        margin-top: 3px;
        font-family: "material";
        color: #fff;
        font-size: 25px;
    }
    
    .numberic {
        height: 54px;
        width: 50px;
        background-color: rgba(56, 56, 56, 1);
        text-align: center;
        line-height: 50px;
        color: #fff;
        display: block;
        border-top-left-radius: 5px;
        float: left;
        margin-top: -54px;
    }
    
    .collapse_transaction .table .thead-dark th {
        color: #fff;
        background-color: #383838;
        border-color: #383838;
    }
    
    .collapse_transaction .table thead th {
        vertical-align: middle;
        border-bottom: 2px solid #dee2e6;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
    }
    
    .collapse_transaction .table td,
    .table th {
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        padding: .75rem 5px;
    }
    
    .collapse_transaction .rows {
        position: relative;
        height: 70px;
    }
    
    .collapse_transaction .bg-rows {
        /* background: #e5e5e5; */
    }
    
    .collapse_transaction .rows td {
        position: relative;
    }
    
    .collapse_transaction .rows .actions {
        position: absolute;
        top: 0;
        right: -26px;
        background: rgba(255, 212, 93, 1);
        display: none;
        padding: 0 4px;
        bottom: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    .collapse_transaction .rows .actions i {
        display: block;
        cursor: pointer;
        font-size: 18px;
        color: rgba(56, 56, 56, 1);
        text-align: center;
        padding: 9px 0;
        border-bottom: 1px solid #afb6b7;
    }
    
    .collapse_transaction .rows .actions i:last-child {
        border-bottom: 0
    }
    
    .collapse_transaction .rows:hover .actions {
        display: block;
    }
    
    .image_user {
        position: relative;
    }
    
    .image_user img {
        width: 40px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 0;
        border: 1px solid #ccc;
    }
    
    .docment_box {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(1, 84, 149, 1);
        border-radius: 8px;
        padding: 45px 20px 30px;
        position: relative;
        margin-top: 70px;
        margin-bottom: 35px;
    }
    
    .docment_box .head-area {
        background: #015495;
        color: white;
        text-align: -webkit-center;
        padding: 15px 0;
        border-radius: 10px;
        position: absolute;
        top: -55px;
        max-width: 300px;
        max-height: 105px;
    }
    
    .docment_box .head-area .nav-item {
        padding: 0 37px;
        border-left: 1px solid #fff;
    }
    
    .docment_box .head-area .nav-item:last-child {
        /* padding-left: 0; */
        border-left: 0
    }
    
    .docment_box .head-area .icons {
        display: block;
        text-align: center;
        font-size: 33px;
        margin-bottom: 10px;
    }
    
    .docment_box .head-area .scan_link {
        background: none;
        border: 0;
        color: white;
        cursor: pointer;
    }
    
    .docment_box .head-area .file-input {
        color: white;
        cursor: pointer;
    }
    
    .image-upload {
        display: none;
    }
    
    .upload_list {
        position: relative;
        z-index: 1;
    }
    
    .preview-pic {
        overflow: hidden;
        width: 300px;
        height: 105px;
        position: absolute;
        top: 0;
        z-index: 0;
        border-radius: 10px;
        border: 2px solid #015495;
        background: #015495;
    }
    
    .remove_box {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        bottom: -20px;
        display: none;
    }
    
    .add_docment_box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .larger {
        width: 100px !important;
        height: 100px !important;
        line-height: 145px;
    }
    
    .add_docment_box i {
        font-size: 55px;
    }
    
    .plus,
    .mins {
        position: absolute;
        left: 20px;
        top: 6px;
        color: #757575;
        cursor: pointer;
    }
    
    .mins {
        top: 27px;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    .form-actions {
        padding: 30px 0 60px 0;
        display: block;
    }
    
    .scroll-up {
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 9;
        bottom: 0 !important;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    
    .form-actions p {
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 0;
    }
    
    .btn_gray {
        min-height: 54px;
        line-height: 43px;
        background: #7b7d5b;
        border: 1px solid #7b7d5b;
        box-shadow: none !important;
        color: #ddbe83!important;
    }
    
    .btn_gray:hover {
        background: #696b4e;
        border: 1px solid #696b4e;
    }
    
    .btn_blue {
        background: rgba(1, 84, 149, 1);
        min-height: 54px;
        line-height: 43px;
        border: 1px solid rgba(1, 84, 149, 1);
        box-shadow: none !important;
        color: #fff!important;
    }
    
    .btn_blue:hover {
        background: rgb(2, 98, 172);
        border: 1px solid rgba(2, 98, 172);
    }
    
    .list_group .list_title {
        font-size: 14px;
        color: rgba(0, 0, 0, 1);
        text-align: right;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .transaction {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(211, 211, 211, 1);
        border-radius: 4px;
        margin-bottom: 30px;
    }
    
    .transaction_box {
        background-color: rgba(240, 240, 240, 1);
        text-align: center;
        height: 100%;
    }
    
    .transaction_box .number {
        padding: 30px;
        font-size: 58px;
        color: rgba(1, 84, 149, 1);
        text-align: center;
        font-weight: bold
    }
    
    .transaction_box .title {
        font-size: 18px;
        color: rgba(1, 84, 149, 1);
        text-align: center;
        font-weight: bold
    }
    
    .transaction_box p {
        margin-bottom: 0;
        font-size: 12px;
        color: rgba(56, 56, 56, 1);
        text-align: center;
        line-height: 20px;
        padding-bottom: 1rem
    }
    
    .transaction_box .transaction_icons {
        position: relative;
        top: 9px
    }
    
    .transaction_content {
        padding: 20px 0 20px 20px;
    }
    
    .color-green {
        color: #3a7200 !important;
    }
    
    .transaction_content .head {
        font-size: 18px;
        color: rgba(1, 84, 149, 1);
        font-weight: bold
    }
    
    .transaction_content .head .transaction_icons {
        position: relative;
        top: 7px;
    }
    
    .transaction_content .nav-pills {
        border: 1px solid #3a7200;
        border-radius: 5px;
    }
    
    .transaction_content .nav-pills .nav-link {
        border-radius: 0;
        transition: all 0.3s ease-in-out
    }
    
    .transaction_content .nav-pills .nav-link.active,
    .transaction_content .nav-pills .nav-link:hover,
    .transaction_content .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #3a7200;
    }
    
    .transaction_content .nav-pills .nav-link {
        display: block;
        padding: 4px 37px;
        color: #3a7200;
        border-left: 1px solid rgba(58, 114, 0, 1);
        font-size: 14px;
        font-weight: 400;
    }
    
    .transaction_content .nav-item:last-child .nav-link {
        border-left: 0
    }
    
    .transaction_content .tab-content .nav {
        padding: 0;
        margin: 0;
    }
    
    .transaction_content .tab-content .nav-item .nav-link {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-left: 5px;
        padding: 3px 15px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        text-align: right;
        line-height: 20px;
        font-weight: 400;
        transition: all 0.3s ease-in-out
    }
    
    .transaction_content .tab-content .nav-item .nav-link:hover {
        color: #fff;
        background-color: #3a7200;
    }
    
    .titket_normal {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        min-height: 210px;
        position: relative;
        transition: all 0.2s ease-in-out;
        margin-bottom: 20px;
    }
    
    .titket_normal:hover {
        background: rgba(1, 84, 149, 1);
        border: 1px solid rgba(1, 84, 149, 1);
    }
    
    .titket_normal:hover .number,
    .titket_normal:hover .content .name,
    .titket_normal:hover .title_head h2 {
        color: white
    }
    
    .titket_normal:hover small,
    .titket_normal:hover .content .desc,
    .titket_normal:hover .title_head .desc {
        color: rgba(198, 198, 198, 1);
    }
    
    .titket_normal:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        clip: rect(14px, 33px, 31px, 0);
        right: -15px;
        top: 50%;
        background: #fff;
        transform: rotate(90deg);
    }
    
    .titket_normal:after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        clip: rect(14px, 33px, 31px, 0);
        left: -15px;
        top: 50%;
        background: #fff;
        transform: rotate(-90deg);
    }
    
    .underline {
        width: 77%;
        position: absolute;
        top: 38%;
        left: 20px;
        display: inline-block;
        padding: 20px;
        border-bottom: dashed 1px rgba(0, 0, 0, 0.3);
        border-image-source: url(../img/line.png);
        border-image-slice: 1;
        border-image-repeat: round;
        opacity: 0.3;
    }
    
    .titket_normal:hover .underline {
        border-image-source: url(../img/line-hover.png);
        border-bottom: dashed 1px #fff;
    }
    
    .titket_normal small {
        font-size: 12px;
        color: rgba(71, 71, 71, 1);
        text-align: center;
        line-height: 20px;
    }
    
    .title_head {
        padding: 0 5px;
        font-weight: bold;
        font-size: 58px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
    }
    
    .title_head h2 {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        font-weight: bold;
        padding-bottom: 5px !important;
        display: block;
    }
    
    .title_head p {
        font-size: 12px;
        color: rgba(71, 71, 71, 0.7);
        text-align: center;
        line-height: 20px;
    }
    
    .content {
        margin-top: 40px;
    }
    
    .content .name {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        line-height: 26px;
        font-weight: bold;
    }
    
    .content .desc {
        font-size: 12px;
        color: rgba(71, 71, 71, 1);
        text-align: center;
        line-height: 20px;
    }
    
    @media (max-width: 768px) {
        .header .media .media-body h3 {
            font-size: 15px;
            color: rgba(255, 255, 255, 1);
        }
        .border-left {
            border-left: 0px solid #dee2e6!important;
        }
        .icon {
            position: relative;
            margin-bottom: 150px;
        }
        .media.text-right.border-left {
            margin-left: 0px;
        }
        .box_postion {
            width: 100%;
            right: auto;
            margin-top: 15px;
        }
        .docment_box {
            padding: 45px 25px 30px;
        }
        .transaction_content .nav-pills .nav-link {
            padding: 4px 10.5px;
        }
    }
    
    .transaction .small-boxs .number {
        font-size: 58px;
        font-weight: bold
    }
    
    .transaction .small-boxs .title {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: #015495;
    }
    
    .transaction .small-boxs .transaction_icons {
        position: relative;
        top: 9px;
    }
    
    .transaction .small-boxs p {
        margin-bottom: 0;
        font-size: 12px;
        color: rgba(56, 56, 56, 1);
        text-align: center;
        line-height: 20px;
        padding-bottom: 0;
    }
    
    .transaction .small-boxs em {
        font-size: 12px;
    }
    
    .no-bg {
        background: none;
    }
    
    .filter {
        border: 2px solid rgba(211, 211, 211, 1);
        padding: 11px 20px;
    }
    
    .small-boxs a {
        font-size: 13px;
        color: rgba(56, 56, 56, 1);
        font-weight: bold;
    }
    
    .color-light {
        color: rgba(56, 56, 56, 0.5) !important;
    }
    
    .form-group i {
        position: absolute;
        left: 20px;
        /* top: 15px; */
        color: rgba(0, 0, 0, 0.38);
    }